#mainpage{
    background-color: blue;
    height:100px;
    width:100%
}
#map{
    background-color: red;
    height:100px;
    width:100%
}
#subloc{
    background-color: green;
    height:100px;
    width:100%
}
#gaapi{
    background-color: yellow;
    height:100px;
    width:100%
}