<style>
    p,input{
        color:black;
    }
</style>
<section class="row">
        <div class="col-full">
            <h2>Map of Lichen Geocaches</h2>
        </div>
        Search: <input ng-model="query">
        <ul >
        <li ng-repeat="locs in mainlocs | filter:query">
          {{locs.name}}
          <p>{{}}
        <center><input type="button" 
                       onclick='window.location.href="#/subloc/2"' value="Go!"></center>
                
          </p>
                    
        </li>
      </ul>
      <map center="39.066814,-94.583535" zoom="12">
        <info-window id="1" position="39.040677,-94.574427" visible="true">
          <div ng-non-bindable="">
            <p>The Anita B Gorman Discovery & Conservation Center!<br></p>
          </div>
        </info-window>
        <info-window id="1" position="39.094057,-94.604697" visible="true">
          <div ng-non-bindable="">
            <p>Plug Projects!</p>
          </div>
        </info-window>
        <info-window id="1" position="39.085255,-94.586066" visible="true">
          <div ng-non-bindable="">
            <p>Union Station & Science City!</p>
          </div>
        </info-window>
        <info-window id="1" position="39.088249,-94.585216" visible="true">
          <div ng-non-bindable="">
              <p>The Mid-America Arts Alliance!</p>
          </div>
        </info-window>
                 
      </map>
</section>
