

<section id="gmap" class="row">
        <div class="col-full">
            <h2>Map of Lichen geocaches</h2>
        </div>
        Search: <input ng-model="query">
        <ul >
        <li ng-repeat="locs in mainlocs | filter:query">
          {{locs.name}}
          <p>{{locs.info}}
              <input type="button" 
                     onclick="window.location.href='#/subloc/{{locs.sid}}'" value="Go!"> 
          </p>
                    
        </li>
      </ul>
      <map center="39.066814,-94.583535" zoom="12">
        <info-window id="1" position="39.040677,-94.574427" visible="true">
          <div ng-non-bindable="">
            The Anita B Gorman Discovery & Conservation Center!<br>
            LatLng: {{chicago.lat()}}, {{chicago.lng()}}, <br>
            World Coordinate: {{worldCoordinate.x}}, {{worldCoordinate.y}}, <br>
            Pixel Coordinate: {{pixelCoordinate.x}}, {{pixelCoordinate.y}}, <br>
            Tile Coordinate: {{tileCoordinate.x}}, {{tileCoordinate.y}} at Zoom Level {{map.getZoom()}}
          </div>
        </info-window>
        <info-window id="1" position="39.094057,-94.604697" visible="true">
          <div ng-non-bindable="">
            Plug Projects!
          </div>
        </info-window>
        <info-window id="1" position="39.085255,-94.586066" visible="true">
          <div ng-non-bindable="">
            Union Station & Science City!
          </div>
        </info-window>
        <info-window id="1" position="39.088249,-94.585216" visible="true">
          <div ng-non-bindable="">
            The Mid-America Arts Alliance!
          </div>
        </info-window>
                 
      </map>
</section>