<header>
    <div id="logo-container">
        <div id="logo"><a href="/">Lichen Scavenger</a></div>
        <div id="subtitle">Sarah</div>
    </div>
    <nav>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li> 
            <!-- contact link
            <li><a href="mailto:your@address.com" class="bordered">Contact</a></li>
            -->
        </ul>
    </nav> 

</header>
<section  id="Mainpage" class="intro">
                <h1 style="color: black">title <span class="nl"></span></h1>
                <p>
                    Content
                </p>
            </section>