               <style>
    div.sublocation{
        position: relative;
        height: 20%;
        width:550px;
        padding-bottom: 0px;
        border-bottom: 1px solid black;
    }
    img.image{
        position:absolute;
        top:0%;
        left:0%;
        height:50px;
        width: 50px;
    }
    div.clue_button{
        position: absolute;
        top:0px;
        left:55px;
        height: 10px;
        width:30px;
    }
    div.clue{
        position: absolute;
        top:20px;
        left:55px;
        width:80%;
        height:37px;
        text-align: left;
    }
    img.spices_picture{
        position:absolute;
        top:0%;
        left:400px;
        height:50px;
        width: 50px;
    }
    div.found_button{
        position:absolute;
        left:460px;
        width: 4.5%;
        height: 20px;
    }
    div.verify_button{
        position:absolute;
        left:460px;
        top:25px;
        width: 4.5%;
        height: 10px;
    }
</style>


<section id="sublocations" class="row">

<section id="sublocations" class="row">
               <ul data-role="listview" data-inset="true">
                        <li >
                            <div class="sublocation">
                                
                                <img class="image" src="../img/example-photo-a.jpg" title="hint">
                                
                                <div class="clue_button">
                                    <form>
                                        <input type="button" value="clue">
                                    </form>
                                </div>
                                <div class="clue">
                                    <p>Universities have the potential </p>
                                </div>
                                <img class="spices_picture" src="../img/example-photo-b.jpg" title="hint">
                                <div class="found_button">
                                    <form>
                                        <input type="button" value="Found">
                                    </form>
                                </div>
                                <div class="verify_button">
                                    <form>
                                        <input type="button" value="Verify">
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="sublocation">
                                <img class="image" src="../img/example-photo-a.jpg" title="hint" >                                
                                <div class="clue_button">
                                    <form>
                                        <input type="button" value="clue">
                                    </form>
                                </div>
                                <div class="clue">
                                    <p>this is some clues</p>
                                </div>
                                <img class="spices_picture" src="../img/example-photo-b.jpg" title="hint">
                                <div class="found_button">
                                    <form>
                                        <input type="button" value="Found">
                                    </form>
                                </div>
                                <div class="verify_button">
                                    <form>
                                        <input type="button" value="Verify">
                                    </form>
                                </div>
                            </div>
                        </li>
                        <li >
                            <div class="sublocation">
                                <img class="image" src="../img/example-photo-a.jpg" title="hint" >
                                <div class="clue_button">
                                    <form>
                                        <input type="button" value="clue">
                                    </form>
                                </div>
                                <div class="clue">
                                    <p>this is some clues</p>
                                </div>
                                <img class="spices_picture" src="../img/example-photo-b.jpg" title="hint">
                                <div class="found_button">
                                    <form>
                                        <input type="button" value="Found">
                                    </form>
                                </div>
                                <div class="verify_button">
                                    <form>
                                        <input type="button" value="Verify">
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
            </section>
            </section>