<style>

    div.photo{
        position:relative;
        float:left;
        padding-left: 20px;
    }
    img {
        background-color: white;
        padding: 5px;
        border-style: solid;
        border-width: 1px;
        border-color: lightgray;
        width: 150px;
        height: 150px;
        margin: 3px;
        opacity:1;
    }

    div.description{
        position:absolute;
        top:105px;
        left:23px;
        height:50px;
        width:149px;
        background-color:black;
        opacity:0.3;
    }

    p.description{
        position:absolute;
        top:115px;
        color: white;
        left:50px;
        font-size:11px;
    }



</style>

<section >     
    <div class="photo">
        <a href="scanqr.html">
            <img src="http://23.254.128.69/databaseIMG/imgLichens/lichen1.png">
            <div class="description"></div>
            <p class="description"> Teloschistes chrysopthalmus  </p>
            <a>
                </div>
                <div class="photo">
                    <a href="scanqr.html">
                        <img src="http://23.254.128.69/databaseIMG/imgLichens/lichen2.png"> 
                        <div class="description"></div>
                        <p class="description"> Rimela cetrata   </p>
                        <a>

                            </div>

                            <div class="photo">
                                <a href="scanqr.html">
                                    <img src="http://23.254.128.69/databaseIMG/imgLichens/lichen3.png">
                                    <div class="description"></div>
                                    <p class="description"> Cladonia cristatella  </p>
                                </a>

                            </div>

                            <div class="photo">
                                <a href="scanqr.html">
                                    <img src="http://23.254.128.69/databaseIMG/imgLichens/lichen3.png"> 

                                    <div class="description"></div>
                                    <p class="description"> Candelariella vitellina  </p>
                                </a>
                            </div>
                            </section>
